<div class="main_content floatleft">
    <h1>Let's Get Entertained</h1>
    <div *ngIf="newsData">
      <div *ngFor="let n of newsData |  paginate:  { itemsPerPage: 5, currentPage: p }">
          <h3>{{n.title|uppercase}}</h3>
          <div >
            <i>Published At {{n.publishedAt|date}}</i><br/>
           
            <img  src="{{n.urlToImage}}" width=400 height=150/><br/>
            {{n.title}}<br/><br/>
            {{n.description}}
            
            
          </div>
      </div>
    </div><br/><br/>
    <div class = "text-center"> 
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    
</div>

<app-sidebar></app-sidebar>






