
  <div class="footer_bottom_area">
    <div class="footer_menu">
      <ul id="f_menu">
        <li><a routerLink="">Top Headlines</a></li>
        <li><a routerLink="business">Business</a></li>
        <li><a routerLink="entertainment">Entertainment</a></li>
        <li><a routerLink="health">Health</a></li>
        <li><a routerLink="science">Science</a></li>
        <li><a routerLink="sports">Sports</a></li>
        <li><a routerLink="technology">Technology</a></li>
       

      </ul>
    </div>
   <br/><br/>
    <div class="copyright_text">
      <p>Copyright &copy; 2045 The News Reporter Inc. All rights reserved | Design by <a target="_blank" rel="nofollow" href="http://www.graphicsfuel.com/2045/10/wp-magazine-theme-template-psd/">Rafi MD</a></p>
      <p>Trade marks and images used in the design are the copyright of their respective owners and are used for demo purposes only.</p>
    </div>
  </div>